@import '../variables';

.card {
  position: relative;
  width: 386px;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
    transform: translateY(-5px);
  }
  &.active {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  }
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  &__out {
    position: absolute;
    left: 106px;
    top: 162px;
    color: $gray;
    font-weight: 400;
    font-size: 24px;
  }
  img {
    width: 354px;
    height: 330px;
    left: 16px;
    top: 16px;
    background-repeat: no-repeat;
  }
  &__name {
    margin-top: 24px;
    font-weight: 300;
    font-size: 18px;
  }
  &__price {
    font-weight: 500;
    line-height: 25px;
  }
  .shopping {
    position: relative;
    width: 100%;

    &__button {
      position: absolute;
      background: $primary;
      border: none;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      right: 15px;
      bottom: -26px;
      color: $background;

      &-icon {
        width: 24px;
        height: 24px;
      }
    }

  }
}
