@import '../variables';

.card {
  position: relative;
  width: 386px;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: default;

  &:hover {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
    transform: translateY(-5px);
  }

  &.active {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.29);
  }

  &.disabled {
    opacity: 0.4;
  }

  &__out {
    position: absolute;
    left: 106px;
    top: 162px;
    color: $gray;
    font-weight: 400;
    font-size: 24px;
  }

  &__img__wrapper {
    width: 354px;
    height: 330px;

    .card-img {
      width: 100%;
      height: 100%;
      left: 16px;
      top: 16px;
      object-fit: contain;
    }
  }

  &__name {
    margin-top: 24px;
    font-weight: 300;
    font-size: 18px;
  }

  &__price {
    font-weight: 500;
    line-height: 25px;
  }



  .shopping__button {
      position: absolute;
      background: $primary;
      border: none;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      right: 30px;
      bottom: 70px;
      color: $background;
      transition: all 0.3s ease-in-out;
    &:hover {
      background: $background;
      border: 1px solid $text;
      cursor: pointer;
      svg {
        path{
          fill: $text;
        }
      }
    }


      &-icon {
        position: absolute;
        left: 25%;
        top: 25%;
        width: 24px;
        height: 24px;
      }
    }

}
