@import '../variables';

.main {
  max-width: 100%;

  .container {
    width: 100%;
    margin: 0 auto;

    select:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }

    .name {
      position: relative;
      left: 100px;
      top: 80px;
      font-weight: 400;
      font-size: 42px;
      width: 160px;
      height: 68px;
      padding: 0 0 0 5px;
    }

    .cards-block {
      position: relative;
      width: 90vw;
      top: 103px;
      left: 78px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
    }
  }

}

@media (max-width: 768px) {
  .main {
    .container {
      width: 100%;
      .name {
        left: 25px;
      }
      .cards-block {
        position: relative;
        left:10px;
        top: 103px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
    }
  }
}