@import '../variables';

.main {
  max-width: 100%;

  .container {
    width: $container-width;
    .name {
      position: relative;
      width: 299px;
      height: 68px;
      font-weight: 400;
      font-size: 42px;
      left: 101px;
      top: 80px;
    }
    .cards-block {
      position: relative;
      width: 100%;
      top: 103px;
      left: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;

    }
  }

}