@import '../variables';
select {
  border: none;
  display: inline-block;
  font: inherit;
  width: 100px;
  padding: 1.5em;
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  option {
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    &:focus {
      background: #bebebe;
    }
  }
}


.currency-menu {
  position: relative;
  svg {
    position:absolute;
    top: 45%;
    right: 30%;

  }
}
.rotate {
  transform: rotate(180deg);
}