@import '../variables';

.overlay {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.drawer {
  position: absolute;
  width: 325px;
  z-index: 1;
  top: 0;
  right: 87px;
  background: $background;
  padding: 12px;

  .disabled-btn {
    color: $disabled;
    border: 1px solid $disabled;
    background: rgba(166, 166, 166, 0.2);
    pointer-events: none;

  }
 &-container {
   width: 100%;
 }
  &__title b{
    font-weight: 700;
  }
  &__title span{
    font-weight: 400;
  }
  &__items {
    width: 100%;
    overflow: auto;
    height: 360px;
    &__item {
      display: flex;
      justify-content: space-between;
      height: 190px;
      padding: 0;
      margin-top: 41px;
      &-price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 136px;

        h3{
          font-weight: 300;
          width: inherit;
          word-wrap: break-word;
        }
        span {
          font-weight: 600;
        }

      }
      &-size {
        &-btn {

            width: 24px;
            height: 24px;
            border-radius: 0;
            border: 1px solid $text;
            margin-right: 8px;
            text-align: center;
            font-weight: 500;
            cursor: pointer;
            font-family: 'Source Sans Pro', sans-serif;
            background: $background;
            transition: all 0.3s ease-in-out;
            &:hover {
              background: $text;
              color: $background;
            }

        }
      }
      &-color {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        &-btn {
          width: 20px;
          height: 20px;
          border: 2px solid $background;
          cursor: pointer;
          margin-right: 4px;
          box-sizing: border-box;
          &.grey {
            background: #D3D2D5;
          }
          &.brown {
            background: #2B2B2B;
          }
          &.green {
            background: #0F6450;
          }
          &.active {
            border: 2px solid #5ECE7B;
            width: 20px;
            height: 20px;
          }
        }
      }
      &-counter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 24px;
        margin-right: 8px;
        button{
          width: 24px;
          height: 24px;
          border-radius: 0;
          border: 1px solid $text;
          cursor: pointer;
          background: $background;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: $text;
            color: $background;
          }
          svg {
            position:relative;
            top: 2px;
            width: 15px;
            height: 15px;
          }
        }
        input{
          width: 24px;
          height: 26px;
          border: none;
          text-align: center;
          font-size: 16px;
        }
      }
      &-img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__total {
    font-weight: 700;
    width: inherit;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
    }
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;

    &-button {
      width: 140px;
      height: 43px;
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid $text;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
      &:hover {
        background-color: $primary;
        color: #fff;
        border: none;
      }
      &.active {
        background-color: $primary;
        color: #fff;
        border: none;
      }
    }
  }
}