@import '../variables';


.header {
  height: 80px;


  .container {
    position: fixed;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0  30px  0 101px;
    background-color: #fff;
    z-index: 1;

    .categories {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 234px;
      height: 56px;
      text-transform: uppercase;
      font-weight: 400;
      top: 12px;
      cursor: pointer;
     &__name {
        transition: color 0.3s ease-in-out;
        &:hover {
        color: $primary;
      }
        &.active {
          color: $primary;
          border-bottom: 1px solid $primary;
          height: 100%;
        }
      }

    }
    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 41px;
      height: 41px;
    }
    .sort__popup {
      display: flex;
      align-items: center;
      width: 133px;
      height: 40px;
      cursor: pointer;
      .arrow {
        width: 30px;
        height: 24px;
        text-align: center;

      }
      .header-cart {
        position: relative;
        width: 35px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        .purchase {
          position: absolute;
          top: 0;
          right: 2px;
          width: 20px;
          height: 20px;
          border-radius: 60%;
          background: $text;
          text-align: center;

          & span {
            color: $background;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
          }
        }
        svg {
          text-align: center;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: translate(0,2px);
          }

        }

      }
    }
  }
}

@media  ( max-width: 768px) {
  .header {

    .container {
      padding-top: 0;
      .categories {

        &__name {
          font-size: 14px;
        }
      }

      .logo {
        position: absolute;
        left: 50px;
      }
      .sort__popup {
        position: relative;
        top: 10px;
        margin-left: 20px;
        line-height: 1.3em;
      }
    }
  }
}